<% if logged_in? %>
  <div class="row">
    <aside class="col-md-2 post">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-30">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% end %>