<% provide(:title, "Log in") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to image_tag("instalogo2.png", alt: "insta logo"),root_path %>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.email_field :email, placeholder:  "メールアドレス", class: 'form-control' %>

      <%= f.password_field :password, placeholder:  "パスワード", class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>アカウントを記憶する </span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
    <p>アカウントをお持ちでないですか？ <%= link_to "登録する", root_path %></p>
    <p>-----または-----</p>
    <%= link_to "Facebookでログイン", "/auth/facebook"%>
  </div>
  <%= link_to image_tag("top.png", alt: "insta logo"),root_path %>
</div>