
  <span class="content">
    <div class= postimg>
    <%= gravatar_for micropost.user, size: 20 %>
    <h4><%= micropost.user.username %><h4>
    </div>
    <%= image_tag micropost.picture.url, :size =>'600x600' if micropost.picture? %>
    <%= micropost.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
