<% provide(:title, "プロフィール編集") %>
<h1>プロフィールを編集する</h1>

<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.email_field :email, class: 'form-control', placeholder:  "メールアドレス" %>

      <%= f.text_field :fullname, class: 'form-control', placeholder:  "フルネーム" %>
      
      <%= f.text_field :username, class: 'form-control', placeholder:  "ユーザーネーム" %>

      <%= f.password_field :password, class: 'form-control', placeholder:  "パスワード" %>

      <%= f.password_field :password_confirmation, class: 'form-control', placeholder:  "パスワード確認" %>

      <%= f.submit "確定する", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">プロフィール画像を変更</a>
    </div>
  </div>
</div>