<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to image_tag("instalogo2.png", alt: "insta logo"),root_path %>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.email_field :email, placeholder:  "メールアドレス", class: 'form-control' %>
    
      <%= f.text_field :fullname, placeholder:  "フルネーム", class: 'form-control'%>
      
      <%= f.text_field :username, placeholder:  "ユーザーネーム", class: 'form-control' %>

      <%= f.password_field :password, placeholder:  "パスワード", class: 'form-control' %>

      <%= f.password_field :password_confirmation, placeholder:  "パスワード確認", class: 'form-control' %>

      <%= f.submit "登録する", class: "btn btn-primary" %>
    <% end %>
    
    <p>アカウントをお持ちですか？<%= link_to "ログインする", login_path %></p>
  </div>
  <%= link_to image_tag("top.png", alt: "insta logo"),root_path %>
</div>