<% provide(:title, @user.fullname) %>
<div class="row">
  <aside class="col-md-10 prof">
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-13 mypics">
    <% if @user.microposts.any? %>
      <% @user.microposts.each do |micropost| %>
        <%= link_to detail_path(:id => micropost.id) do %>
          <%=image_tag micropost.picture%>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>