<% @user ||= current_user %>
<span class= "round-img">
<%= link_to gravatar_for(current_user, size: 50), @user %>
</span>
<h1><%= @user.username %></h1>
<span><%= @user.fullname %></span>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>人をフォロー中
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      フォロワー<%= @user.followers.count %>人
    </strong>
  </a>
  <strong class="stat">
      投稿<%= @user.microposts.count %>件
  </strong>
</div>