<span class="content">
  <div class="micropost-head">
    <div class= "round-img">
      <%= gravatar_for micropost.user, size: 30 %>
    </div>
      <h5><%= micropost.user.username %></h5>
  </div>
  <%= link_to detail_path(:id => micropost.id) do %>
    <%= image_tag micropost.picture.url, :size =>'600x600' if micropost.picture? %>
  <% end %>
  <%= render "likes/like", micropost: micropost %>
</span>
  
