<span class="content">
  <div class= postdetail>
  <%= gravatar_for @micropost.user, size: 20 %>
  <h4><%= @micropost.user.username %><h4>
  <%= image_tag @micropost.picture.url, :size =>'600x600' if @micropost.picture? %>
  <%= @micropost.content %>
  </div>
</span>
<div class="comment-list">
    <% @comments.each do |comment| %>
    <div class= "comment">
    <%= comment.user.fullname %>
    <%= comment.body %>
    <% if current_user?(@micropost.user) %>
      <%= link_to "delete", micropost_comment_path(@micropost, comment), method: :delete%>
    <% end %> 
    </div>
    <% end %>
</div>
<span class="timestamp">
  Posted <%= time_ago_in_words(@micropost.created_at) %> ago.
  <% if current_user?(@micropost.user) %>
    <%= link_to "delete", @micropost, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</span>
<span class="comment-form">
  <%= form_for ([@micropost , @comment]) do |f| %>
    <div class="field">
      <%= f.text_field :body, placeholder: "コメントを追加..." %>
    </div>
    <%= f.submit "投稿", class: "hidden-btn" %>
  <% end %>
</span> 
