<footer class="footer">
  <small>
    <%= link_to "インスタグラムについて",   about_path %>
    <%= link_to "サポート", contact_path %>
  </small>
  <nav>
    <ul>
      <li>© 2018 INSTAGRAM</li>
    </ul>
  </nav>
</footer>