<% if logged_in? %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to image_tag("instalogo.png", alt: "insta logo", class: "instalogo"),current_user %></li>
        <%= form_tag search_path, :method => 'get' do %> 
        <li class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "検索", class: "search-form" %>
          <span class="input-group-btn">
          <%= submit_tag "Search", :name => nil, class: "hidden-btn" %>
          </span>
        <% end %>
        </li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Timeline", new_path %></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>